* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, th, tr, td {
    font-family: 'Roboto', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#da56b7, #F6F0C4);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
}
.navbar ul li a:hover {
    color: #333;
}

.dropdown_menu {
    display: none;
}

.navbar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0%;
    top: 100%;
    margin: 0 -30px;
    text-align: left;
}

.navbar ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.navbar ul li:hover .dropdown_menu ul li {
    width: 100%;
    padding: 10px;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}




h2 {
    margin-top: 20px;
}

body {
    background-image: linear-gradient(#da56b7, #F6F0C4);
    background-size: cover;
    background-position: center;
}

ol > li::marker {
    font-weight: bold;
  }

ol {
    line-height: 30px;
}

.container {
    position: relative;
    display: flex;
    width: 70%;
    margin: 35px auto;
    padding: 35px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
}
.left,
.right {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;   
}

h1 {
    font-size: 36px;
    text-underline-offset: 20px;
    margin-top: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px 10px;
    border: 1px solid #F9CEE6;
}

th {
    background-color: #ad1b6e;
    color: white;
}

.img-holder {
    border: 10px solid #814768;
    margin: 35px;
    border-radius: 15px;
}

.img-holder img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}   





